body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
  /* http://uigradients.com/# */
  background: #EB3349; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
            
}

.blog-post h2 a{
  color: white;
  text-decoration: none;
}

.blog-post h2 a:hover{
  color: white;
}

.blog-post p{
  color: white;
}

