.bio {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}


.is-primary { 
  background-color: #00d1b2;
  /* https://yoksel.github.io/url-encoder/ */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='230' height='230' viewBox='0 0 260 260'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hobbies' fill='%2306eac9' fill-opacity='0.6'%3E%3Cpath d='M43,224.54a2.61,2.61,0,0,0,.08-.57V207.74a2.33,2.33,0,0,0-2.33-2.32H14.26a2.32,2.32,0,0,0-2.32,2.32V224a2.62,2.62,0,0,0,.07.57l-2.16,6v.23a2.44,2.44,0,0,0,2.44,2.44H42.73a2.44,2.44,0,0,0,2.44-2.44v-.23ZM14.55,208H40.47v15.66H14.55Zm-2,22.53,1.56-4.26H40.87l1.55,4.26Z' /%3E%3Cpath d='M171.84,130.44H167a4.47,4.47,0,0,0-8.93,0h-4.57V118.36A2.33,2.33,0,0,0,151.2,116h-4.89v-5.39h1a1.31,1.31,0,0,0,0-2.62h-9.35a1.31,1.31,0,0,0,0,2.62h1V116H134a2.34,2.34,0,0,0-2.33,2.33v24.76a2.33,2.33,0,0,0,2.33,2.32h.71a2.57,2.57,0,0,0,5.13,0h5.51a2.57,2.57,0,0,0,5.13,0H151v.21a2.33,2.33,0,0,0,2.32,2.33h18.56a2.34,2.34,0,0,0,2.33-2.33V132.77A2.33,2.33,0,0,0,171.84,130.44Zm-28.15-19.8V116h-2.17v-5.39Zm7.23,32.19H134.3V118.64h16.62Zm11.64-14.13a1.85,1.85,0,0,1,1.85,1.74h-3.7A1.87,1.87,0,0,1,162.56,128.7Zm9,16.66h-18V133.05h18Z' /%3E%3Cpath d='M145.73,236.44a3.75,3.75,0,0,1-1.24-.2h0a3.87,3.87,0,0,1-2.41-4.89l9.35-27.49a3.85,3.85,0,0,1,7.29,2.48l-9.35,27.49a3.86,3.86,0,0,1-1.94,2.22A3.91,3.91,0,0,1,145.73,236.44Zm-.4-2.68a1.18,1.18,0,0,0,.94-.06,1.23,1.23,0,0,0,.63-.71l9.34-27.49a1.24,1.24,0,1,0-2.34-.8l-9.34,27.49a1.23,1.23,0,0,0,.77,1.57Z' /%3E%3Cpath d='M157.8,236.44a3.83,3.83,0,0,1-1.24-.2h0a3.85,3.85,0,0,1-2.4-4.89l9.34-27.49a3.85,3.85,0,1,1,7.29,2.48l-9.34,27.49a3.84,3.84,0,0,1-3.65,2.61Zm-.4-2.68A1.23,1.23,0,0,0,159,233l9.35-27.49a1.24,1.24,0,0,0-2.35-.8l-9.34,27.49a1.24,1.24,0,0,0,.77,1.57Z' /%3E%3Cpath d='M182.07,203.52a2.89,2.89,0,0,0-1.72-1.42l-1.54-.48h0l-1.48-.5L168,229.07h0l-1,3-1.08-.36a1.32,1.32,0,0,0-1.65.83,1.31,1.31,0,0,0,.82,1.65l1.08.36-.4,1.18a1.32,1.32,0,0,0,.83,1.66,1.51,1.51,0,0,0,.41.06,1.3,1.3,0,0,0,1.24-.89l.4-1.18,1.07.36a1.23,1.23,0,0,0,.42.07,1.31,1.31,0,0,0,.41-2.55l-1.07-.36,7.5-22.45.75.22a2.79,2.79,0,0,0,.85.13,2.91,2.91,0,0,0,2.79-2.06l.93-3A2.91,2.91,0,0,0,182.07,203.52ZM179.78,205l-.92,3a.31.31,0,0,1-.15.18.33.33,0,0,1-.23,0l-.69-.21,1.19-3.56.6.18a.31.31,0,0,1,.18.15A.28.28,0,0,1,179.78,205Z' /%3E%3Cpath d='M138.08,233.26,137,232.9,147.35,202l-1.68-.56v-.05l-1.53-.5a2.92,2.92,0,0,0-3.68,1.86l-1,3a2.93,2.93,0,0,0,1.86,3.68l.69.22-6.51,19.47h0l-1,3-1.08-.36a1.32,1.32,0,0,0-1.65.83,1.3,1.3,0,0,0,.83,1.65l1.07.36-.39,1.18a1.31,1.31,0,0,0,.82,1.66,1.52,1.52,0,0,0,.42.06,1.29,1.29,0,0,0,1.23-.89l.4-1.18,1.07.36a1.23,1.23,0,0,0,.42.07,1.31,1.31,0,0,0,.41-2.55Zm4.09-26.37a.31.31,0,0,1-.18-.15.28.28,0,0,1,0-.23l1-3a.31.31,0,0,1,.39-.19l.72.24-1.19,3.55Z' /%3E%3Cpath d='M108.39,40.61H89.09a1.31,1.31,0,0,1-.93-2.23l9.66-9.66a1.3,1.3,0,0,1,1.84,0l9.66,9.66a1.31,1.31,0,0,1-.93,2.23ZM92.24,38h13l-6.5-6.5Z' /%3E%3Cpath d='M122.5,63.16H94.29a1.31,1.31,0,0,1-.93-2.23l14.11-14.11a1.31,1.31,0,0,1,1.85,0l14.1,14.11a1.27,1.27,0,0,1,.28,1.42A1.29,1.29,0,0,1,122.5,63.16ZM97.44,60.55h21.91l-11-11Z' /%3E%3Cpath d='M94,54.6H71.34a1.31,1.31,0,0,1-.92-2.23L81.75,41a1.35,1.35,0,0,1,1.85,0L94.93,52.37a1.33,1.33,0,0,1,.28,1.43A1.31,1.31,0,0,1,94,54.6ZM74.5,52H90.85l-8.18-8.18Z' /%3E%3Cpath d='M39.08,124.15a4,4,0,0,0-2.3-2.62,3.9,3.9,0,0,0-2.32-.15c-.05-2.45-1.64-4.51-3.79-4.72a4.08,4.08,0,0,0-3.6,1.68,3.62,3.62,0,0,0-.36-.42,3.87,3.87,0,0,0-6.19.6,5.39,5.39,0,0,0-.85,2.86,3.9,3.9,0,0,0-2.32.15,4,4,0,0,0-2.3,2.62,5.4,5.4,0,0,0,.2,3.6c.06.15.12.28.19.42.33,1.37,2.72,11.58,2.92,15.18.07,1.39,0,4.07,0,4.09l2.61.07c0-.11.07-2.8,0-4.31A103.59,103.59,0,0,0,18.76,131a4.15,4.15,0,0,0,.93.11,3.69,3.69,0,0,0,1.38-.27,4,4,0,0,0,2.31-2.61,5.33,5.33,0,0,0,.21-1.6,3.87,3.87,0,0,0,.48,0h.35a3.9,3.9,0,0,0,2.64-1.46,3.94,3.94,0,0,0,2.65,1.46h.35a3.87,3.87,0,0,0,.48,0,5.33,5.33,0,0,0,.21,1.6,4,4,0,0,0,2.31,2.61,3.66,3.66,0,0,0,1.39.27,4.06,4.06,0,0,0,.92-.11,104,104,0,0,0-2.2,12.25c-.09,1.51,0,4.2,0,4.31l2.61-.07s-.06-2.7,0-4.09c.2-3.6,2.59-13.79,2.92-15.18a4.08,4.08,0,0,0,.19-.42A5.46,5.46,0,0,0,39.08,124.15Zm-18.2,3.27a1.48,1.48,0,0,1-.78,1c-.83.33-1.94-.39-2.42-1.59a2.84,2.84,0,0,1-.13-1.87,1.42,1.42,0,0,1,.78-1,1,1,0,0,1,.42-.08,1.82,1.82,0,0,1,.8.22,2.91,2.91,0,0,1,1.2,1.45h0A2.9,2.9,0,0,1,20.88,127.42ZM24.17,124a1.43,1.43,0,0,1-1.13-.49A3.06,3.06,0,0,1,22.7,120a1.44,1.44,0,0,1,1-.7h.1a1.47,1.47,0,0,1,1,.49,2.86,2.86,0,0,1,.75,1.72C25.72,122.75,25.07,123.91,24.17,124ZM30,124c-.9-.09-1.55-1.25-1.42-2.53s1-2.29,1.87-2.21,1.55,1.25,1.42,2.53S30.85,124.08,30,124ZM34,128.37a1.48,1.48,0,0,1-.78-1,3.07,3.07,0,0,1,1.33-3.32,1.28,1.28,0,0,1,2,.81,2.84,2.84,0,0,1-.13,1.87,2.88,2.88,0,0,1-1.2,1.44A1.42,1.42,0,0,1,34,128.37Z' /%3E%3Cpath d='M29.82,131.54a3.24,3.24,0,0,0-5.61,0l-1.51,2.63A3.24,3.24,0,0,0,25.5,139h3a3.24,3.24,0,0,0,2.81-4.85Zm-.75,4.56a.61.61,0,0,1-.54.31h-3a.61.61,0,0,1-.54-.31.64.64,0,0,1,0-.63l1.52-2.62a.61.61,0,0,1,.54-.31.63.63,0,0,1,.54.31l1.51,2.62A.6.6,0,0,1,29.07,136.1Z' /%3E%3Cpath d='M214.22,41.17h5.5a1.31,1.31,0,1,0,0-2.61h-5.5a1.31,1.31,0,0,0,0,2.61Z' /%3E%3Cpath d='M240.66,46.4a10.26,10.26,0,0,0-2.56.33L234,36.4a1.3,1.3,0,0,0-.8-1.08,1.21,1.21,0,0,0-.56-.13l-4.74-.91a1.31,1.31,0,0,0-.49,2.57l4.28.81,2.19,5.49H217.16a1.3,1.3,0,0,0-1.19.78,1,1,0,0,0,0,.1l-.9,2.59a10.49,10.49,0,0,0-2.11-.22,10.32,10.32,0,1,0,4.57,1.09l.6-1.73h16.82l.77,1.93a10.27,10.27,0,1,0,5-1.29ZM220.58,56.67a7.69,7.69,0,0,1-4.61,7A7.66,7.66,0,1,1,212.92,49a7.33,7.33,0,0,1,1.24.11l-2.48,7.12a1.31,1.31,0,0,0,.81,1.67,1.25,1.25,0,0,0,.43.07,1.31,1.31,0,0,0,1.23-.88L216,51.86l.66-1.89A7.67,7.67,0,0,1,220.58,56.67Zm20.08,7.67a7.66,7.66,0,0,1-4-14.19l2.79,7a1.32,1.32,0,0,0,1.22.82,1.36,1.36,0,0,0,.48-.09,1.31,1.31,0,0,0,.73-1.7l-2.79-7a7.5,7.5,0,0,1,1.58-.17,7.67,7.67,0,0,1,0,15.33Z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  
}

.bio .hero-body .container p {
    font-size: 20px;
    font-weight: 400;
}

.img-avatar {
    display: block;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    margin: 40px auto;
}

.section-skills {
    margin-top: 40px;
}

.container-skills {
    margin: 0 auto;
    width: 48%;
}

.field.is-grouped {
    justify-content: center;
}


.section-social {
    margin-bottom: 2rem;
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
    color: #fbfbfb;   
}


.section-social ul {
    display: inline-block;
}


.section-social ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
    font-size: 45px;
}

.section-social ul li:hover {
   color: rgb(2, 15, 26);
}



@media screen and (max-width: 769px) {

    .img-avatar {
        width: 240px;
        height: 240px;
       
    }


    .section-social ul li {
        font-size: 35px;
        margin-right: 0.8rem;
    }

    .container-skills {
        margin: 0 auto;
        width: 100%;
    }

}

@media screen and (max-width: 600px) {

    .section-social ul li {
        font-size: 35px;
        margin-right: 0.8rem;
    }

}


@media screen and (max-width: 360px) {

    .section-social ul li {
        font-size: 30px;
        margin-right: 0.5rem;
    }

}

