.bio {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
}

.bio .hero-body .container p {
    font-size: 20px;
    font-weight: 400;
}

.img-avatar {
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 40px auto;
}


.social {
    margin-bottom: 2rem;
    margin-top: 40px;
    font-size: 1.5rem;
    text-align: center;
    color: #fbfbfb;   
}

.social ul {
    display: inline-block;
}


.social ul li {
    display: inline-block;
    list-style: none;
    margin-right: 1.5rem;
    font-size: 45px;
}




@media screen and (max-width: 730px) {

    .img-avatar {
        width: 230px;
        height: 230px;
       
    }


    .social ul li {
        font-size: 35px;
        margin-right: 0.8rem;
    }

}

@media screen and (max-width: 600px) {

    .social ul li {
        font-size: 35px;
        margin-right: 0.8rem;
    }

}


@media screen and (max-width: 360px) {

    .social ul li {
        font-size: 30px;
        margin-right: 0.5rem;
    }

}

